// Import page-specific CSS files here.
@import "home";

.list {
  justify-items:left;
  margin: 40px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  justify-content: space-around;
}

body {
  background-color: rgb(220, 220, 220);
}

.link_to {
  text-decoration: none;
  color: rgb(5, 0, 159);
}

.top {
  height: 350px;
  background-position: center;
  background-image: asset-url("crossroad.jpeg");
  position: relative;
}

.new_list_btn {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.6);
}

.delete_bookmark {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  position: relative;
}

.card img {
  margin: 0 auto;
}

.card {
  display: flex;
  height: 450px;
  width: 100%;
  margin-left: 20px;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 15px 25px rgba(0,0,0,0.5);
}

.bottom_link .link_to {
  display: block;
  padding-top: 10px;
}
